<br />
<br />
<br />
<table>
    <tr>
        <td>
            <input type="button" id="btnAdd" title="Thêm tài khoản" value="Thêm tài khoản" class="button" />
        </td>
        <td>
            <input type="button" id="btnResetPassword" title="Reset password" value="Reset password" class="button" />
        </td>
    </tr>
</table>
<br />
@Html.AntiForgeryToken()
<div id="create_form" style="display: none; font-size:12px" title="Thêm danh mục">
    <table>
        <tr>
            <td style="width: 100px">
                @Html.Hidden("userProfileIdEdit")
                @Html.Label("Tên đăng nhập", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("userName", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Tên hiển thị", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("displayName", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Email", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("email", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Mật khẩu", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.Password("password", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Phân quyền", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.CheckBox("systemAdmin", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>System Admin</p>
                        </td>
                        <td>
                            @Html.CheckBox("entryAdmin", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>Entry Admin</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("pushAdmin", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>Push Admin</p>
                        </td>
                        <td>
                            @Html.CheckBox("viewAdmin", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>View Admin</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td style="width: 100px"></td>
            <td>
                <input id="btnClose" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOk" type="button" value="Thêm" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
</div>
<div id="update_form" style="display: none; font-size:12px" title="Thêm danh mục">
    <table>
        <tr>
            <td style="width: 100px">
                @Html.Hidden("userProfileIdEdit")
                @Html.Label("Tên đăng nhập", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("userNameEdit", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Tên hiển thị", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("displayNameEdit", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Email", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                @Html.TextBox("emailEdit", "", new { @style = "width: 200px; font-size: 12px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                @Html.Label("Phân quyền", new { @style = "padding-left: 10px; font-size: 12px; padding-top: 3px; float: left; width: 100px;" })
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.CheckBox("systemAdminEdit", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>System Admin</p>
                        </td>
                        <td>
                            @Html.CheckBox("entryAdminEdit", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>Entry Admin</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBox("pushAdminEdit", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>Push Admin</p>
                        </td>
                        <td>
                            @Html.CheckBox("viewAdminEdit", new { @style = " margin-left: 5px;" })
                        </td>
                        <td>
                            <p>View Admin</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td style="width: 100px"></td>
            <td>
                <input id="btnCloseEdit" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOkEdit" type="button" value="Sửa" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
</div>
<div id="message_form" title="Message" style="display: none; font-size: 12px; text-align: center; min-height: 40px !important;">
    <table style="width: 100%;">
        <tr>
            <td>
                <div id="message_confirm" style="padding-top: 5px; text-align: center;"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnOkMessage" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
    <br />
</div>
<div id="dialog_confirm_delete" title="Xóa danh mục" style="display: none; font-size: 12px; min-height: 40px !important;">
    <table>
        <tr>
            <td>
                <div id="message_confirm" style="padding-top: 5px;">Bạn có chắc chắn muốn xóa tài khoản này không?</div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnCloseDel" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOkDel" type="button" value="Xóa" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
    <br />
</div>
<table id="grid"></table>
<div id="pager" class="div_pager"></div>
<script>

    $("#systemAdmin").click(function () {
        $("#entryAdmin").prop('checked', false);
        $("#pushAdmin").prop('checked', false);
        $("#viewAdmin").prop('checked', false);
    });

    $("#entryAdmin").click(function () {
        $("#systemAdmin").prop('checked', false);
        $("#pushAdmin").prop('checked', false);
        $("#viewAdmin").prop('checked', false);
    });

    $("#pushAdmin").click(function () {
        $("#entryAdmin").prop('checked', false);
        $("#systemAdmin").prop('checked', false);
        $("#viewAdmin").prop('checked', false);
    });

    $("#viewAdmin").click(function () {
        $("#entryAdmin").prop('checked', false);
        $("#pushAdmin").prop('checked', false);
        $("#systemAdmin").prop('checked', false);
    });

    $("#systemAdminEdit").click(function () {
        $("#entryAdminEdit").prop('checked', false);
        $("#pushAdminEdit").prop('checked', false);
        $("#viewAdminEdit").prop('checked', false);
    });

    $("#entryAdminEdit").click(function () {
        $("#systemAdminEdit").prop('checked', false);
        $("#pushAdminEdit").prop('checked', false);
        $("#viewAdminEdit").prop('checked', false);
    });

    $("#pushAdminEdit").click(function () {
        $("#entryAdminEdit").prop('checked', false);
        $("#systemAdminEdit").prop('checked', false);
        $("#viewAdminEdit").prop('checked', false);
    });

    $("#viewAdminEdit").click(function () {
        $("#entryAdminEdit").prop('checked', false);
        $("#pushAdminEdit").prop('checked', false);
        $("#systemAdminEdit").prop('checked', false);
    });

    $("#btnClose").click(function () {
        $("#create_form").dialog("close");
    });

    $("#btnCloseEdit").click(function () {
        $("#update_form").dialog("close");
    });

    $("#btnCloseDel").click(function () {
        $("#dialog_confirm_delete").dialog("close");
        $("#userProfileIdEdit").val('');
    });

    $("#btnAdd").click(function () {
        $("#create_form").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '360px',
            modal: true,
            title: 'Thêm tài khoản',
            resizable: false,
        });
    });

    $("#btnOkDel").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            userProfileId: $("#userProfileIdEdit").val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("DeleteUserProfile", "UserProfile")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                }
                else {
                    $("#dialog_confirm_delete").dialog("close");
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    function Edit(id) {
        $("#userProfileIdEdit").val(id);
        var requestData = {
            userProfileIdEdit: id
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("GetUserProfileToEdit", "UserProfile")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                    $("#message_confirm").text('Có lỗi trong quá trình lấy tài khoản!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                }
                else {
                    $('#userNameEdit').val(response.UserName);
                    $("#displayNameEdit").val(response.DisplayName);
                    $('#emailEdit').val(response.Email);
                    if (response.Role == "System Admin") {
                        $('#systemAdminEdit').prop('checked', true);
                    }
                    else if (response.Role == "Entry Admin") {
                        $('#entryAdminEdit').prop('checked', true);
                    }
                    else if (response.Role == "Push Admin") {
                        $('#pushAdminEdit').prop('checked', true);
                    }
                    else if (response.Role == "View Admin") {
                        $('#viewAdminEdit').prop('checked', true);
                    }
                }
            },
        });
        $("#update_form").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '360px',
            modal: true,
            title: 'Sửa tài khoản',
            resizable: false,
        });
    };

    $("#btnOk").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            userName: $('#userName').val(),
            displayName: $("#displayName").val(),
            password: $('#password').val(),
            email: $('#email').val(),
            systemAdmin: $('#systemAdmin').prop('checked'),
            entryAdmin: $('#entryAdmin').prop('checked'),
            pushAdmin: $('#pushAdmin').prop('checked'),
            viewAdmin: $('#viewAdmin').prop('checked'),
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("AddUserProfile", "UserProfile")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                    $("#message_confirm").text('Có lỗi trong quá trình tạo tài khoản!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                }
                else {
                    $("#create_form").dialog('close');
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    $("#btnOkEdit").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            userProfileIdEdit: $("#userProfileIdEdit").val(),
            userName: $('#userNameEdit').val(),
            displayName: $("#displayNameEdit").val(),
            email: $('#emailEdit').val(),
            systemAdmin: $('#systemAdminEdit').prop('checked'),
            entryAdmin: $('#entryAdminEdit').prop('checked'),
            pushAdmin: $('#pushAdminEdit').prop('checked'),
            viewAdmin: $('#viewAdminEdit').prop('checked'),
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("EditUserProfile", "UserProfile")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                    $("#message_confirm").text('Có lỗi trong quá trình sửa tài khoản!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                }
                else {
                    $("#update_form").dialog('close');
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    function Delete(id) {
        $("#userProfileIdEdit").val(id);
        $("#dialog_confirm_delete").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            resizable: false,
        });
    }

    jQuery("#grid").jqGrid({
        url: '/UserProfile/GetAll',
        datatype: "json",
        colNames: ['Id', 'Tên đăng nhập', 'Tên hiển thị', 'Email', 'Phân quyền', 'Thời gian thêm', 'Thêm bởi', ''],
        colModel: [
            { name: 'Id', align: "center", key: true, hidden: true, sortable: true },
            { name: 'UserName', width: 40, editable: true, align: "center" },
            { name: 'DisplayName', width: 50, editable: true, align: "center" },
            { name: 'Email', width: 50, editable: true, align: "center" },
            { name: 'Role', width: 40, editable: true, align: "center" },
            { name: 'InsAt', width: 30, align: "center", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y h:i A" }, formatter: "date" },
            { name: 'InsBy', width: 40, align: "center" },
            { name: 'Action', width: 20, align: "center", sortable: false, clickable: false },
        ],
        rowNum: 20,
        rowList: false,
        pager: '#pager',
        viewrecords: true,
        ShinkToFit: false,
        multiSort: true,
        hidegrid: false,
        gridview: true,
        myType: 'GET',
        height: 200,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            userdata: "userdata"
        },
        autowidth: true,
        autoheight: true,
        mutiselect: false,
        editable: true
    });

    $("#grid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false, refresh: false });

</script>
