<br /><br /><br />

<input type="button" id="btnAdd" title="Thêm danh mục" value="Thêm danh mục" class="button" />

<br /><br />

@Html.AntiForgeryToken()
<div id="create_form" style="display: none; font-size:12px" title="Thêm danh mục">
    <table>
        <tr>
            <td>
                @Html.Hidden("categoryIdEdit")
                @Html.Label("Tên danh mục", new { @style = "padding-left: 10px; padding-top: 3px; float: left; width: 120px;" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("categoryName", "", new { @style = "width: 270px; margin-left: 5px;" })
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnClose" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOk" type="button" value="Thêm" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
</div>
<div id="dialog_confirm_delete" title="Xóa danh mục" style="display: none; font-size: 12px; min-height: 40px !important;">
    <table>
        <tr>
            <td>
                <div id="message_confirm" style="padding-top: 5px;">Bạn có chắc chắn muốn xóa danh mục này không?</div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnCloseDel" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOkDel" type="button" value="Xóa" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
    <br />
</div>

<table id="grid"></table>
<div id="pager" class="div_pager"></div>

<script>

    $("#btnAdd").click(function () {
        $("#categoryName").val('');
        $("#create_form").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            title: 'Thêm danh mục',
            resizable: false,
        });
    });

    $("#btnOk").click(function () {
        if ($('#categoryIdEdit').val().length == 0) {
            var requestData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                categoryName: $("#categoryName").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("AddCategory", "Category")',
                async: false,
                data: requestData,
                dataType: "json",
                timeout: 5000,
                success: function (response) {
                    if (response.success == false) {
                    }
                    else {
                        $("#categoryName").val('');
                        $("#create_form").dialog("close");
                        $("#grid").trigger("reloadGrid");
                    }
                },
            });
        }
        else {
            var requestData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                categoryId: $('#categoryIdEdit').val(),
                categoryNameNew: $("#categoryName").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("EditCategory", "Category")',
                async: false,
                data: requestData,
                dataType: "json",
                timeout: 5000,
                success: function (response) {
                    if (response.success == false) {
                    }
                    else {
                        $("#categoryName").val('');
                        $('#categoryIdEdit').val('');
                        $("#create_form").dialog("close");
                        $("#grid").trigger("reloadGrid");
                    }
                },
            });
        }
    });

    $("#btnOkDel").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            categoryId: $("#categoryIdEdit").val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("DeleteCategory", "Category")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                }
                else {
                    $("#dialog_confirm_delete").dialog("close");
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    jQuery("#grid").jqGrid({
        url: '/Category/GetAll',
        datatype: "json",
        colNames: ['Id', 'Tên danh Mục', 'Thời gian thêm', 'Thêm bởi', 'Thời gian sửa', 'Sửa bởi', ''],
        colModel: [
            { name: 'Id', align: "center", key: true, hidden: true, sortable: true },
            { name: 'CategoryName', width: 50, editable: true, align: "center" },
            { name: 'InsAt', width: 30, align: "center", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y h:i A" }, formatter: "date" },
            { name: 'InsBy', width: 40, align: "center" },
            { name: 'UpdAt', width: 30, align: "center", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y h:i A" }, formatter: "date" },
            { name: 'UpdBy', width: 40, align: "center" },
            { name: 'Action', width: 20, align: "center", sortable: false, clickable: false },
        ],
        rowNum: 20,
        rowList: false,
        pager: '#pager',
        viewrecords: true,
        ShinkToFit: false,
        multiSort: true,
        hidegrid: false,
        gridview: true,
        myType: 'GET',
        height: 200,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            userdata: "userdata"
        },
        autowidth: true,
        autoheight: true,
        mutiselect: false,
        editable: true
    });

    $("#grid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false, refresh: false });

    function Edit(id, cateName) {
        $("#categoryIdEdit").val(id);
        $('#categoryName').val(cateName);
        $("#create_form").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            title: 'Sửa danh mục',
            resizable: false,
        });
    };

    function Delete(id) {
        $("#categoryIdEdit").val(id);
        $("#dialog_confirm_delete").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            resizable: false,
        });
    }

    $("#btnClose").click(function () {
        $("#create_form").dialog("close");
    });

    $("#btnCloseDel").click(function () {
        $("#categoryIdEdit").val('');
        $("#dialog_confirm_delete").dialog("close");
    });
</script>

