<script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
<br />
<br />
<br />
<input type="button" id="btnClose" title="Trở về" value="Trở về" class="button" />
<br />

@Html.AntiForgeryToken()
<div id="create_form" style="font-size: 12px;">
    <table>
        <tr>
            <td style="width: 70px;">
                @Html.Hidden("entryIdEdit")
                @Html.Label("Danh mục")
            </td>
            <td>
                @Html.DropDownList("categoryName", new SelectList(ViewBag.CategoryList, "Value", "Text"), "", new { @style = "width: 250px; height: 30px; float: left;" })
            </td>
            <td>&nbsp;&nbsp;</td>
            <td style="width: 95px;">
                @Html.Label("Hình đại diện")
            </td>
            <td>
                @Html.TextBox("avatarLink", "", new { @style = "width: 100%; float: left;" })
            </td>
            <td>&nbsp;&nbsp;</td>
            <td style="width: 70px;">
                @Html.Label("Đăng bài")
            </td>
            <td>
                @Html.CheckBox("actived", new { @style = "float: left;" })
            </td>
            <td>&nbsp;&nbsp;</td>
            <td style="width: 110px;">
                @Html.Label("Ví trí bài đăng")
            </td>
            <td>
                @Html.DropDownList("orderNumber", new SelectList(ViewBag.OrderNumber, "Value", "Text"), "", new { @style = "width: auto; float: left;" })
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 70px;">
                @Html.Label("Tiêu đề")
            </td>
            <td style="width: 400px;">
                @Html.TextArea("entrySubject", new { @style = "width: 100%; float: left;" })
            </td>
            <td>&nbsp;&nbsp;</td>
            <td style="width: 70px;">
                @Html.Label("Tóm tắt")
            </td>
            <td style="width:400px;">
                @Html.TextArea("summarize", new { @style = "width: 96%; float: left;" })
            </td>
        </tr>
    </table>

    <table style="width: 100%; text-align: left;">
        <tr>
            <td style="padding-left: 7px;">@Html.Label("Nội dung")</td>
        </tr>
        <tr>
            <td>
                @Html.TextArea("entryContent", new { @style = "width: 100%; float: left;", @class="ckeditor", @cols="20", @id="entryContent", @name="editor", @rows="2" })
            </td>
        </tr>
    </table>
    <input id="btnOkAndContinuos" type="button" value="Lưu & Thêm mới" class="button" style="float: right; margin-right: 10px; width: auto;" />
    <input id="btnOkAndReturn" type="button" value="Lưu & Trở về" class="button" style="float: right; margin-right: 10px; width: auto;" />
</div>
<div id="message_form" title="Message" style="display: none; font-size: 12px; text-align: center; min-height: 40px !important;">
    <table style="width: 100%;">
        <tr>
            <td>
                <div id="message_confirm" style="padding-top: 5px; text-align: center;"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnOkMessage" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
    <br />
</div>
<script>
    $("#btnClose").click(function () {
        location.href = '@Url.Content("~/Entry/Index")';
    });

    $("#btnOkMessage").click(function () {
        $("#message_form").dialog("close");
        $("#message_confirm").text('');
    });

    $("#btnOkAndReturn").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            categoryId: $('#categoryName').val(),
            avatarLink: $("#avatarLink").val(),
            actived: $('#actived').prop('checked'),
            orderNumber: $('#orderNumber').val(),
            entrySubject: $('#entrySubject').val(),
            entryContent: CKEDITOR.instances['entryContent'].getData(),
            summarize: $('#summarize').val(),
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("AddEntry", "Entry")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                    $("#message_confirm").text('Có lỗi trong quá trình lưu bài!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                }
                else {
                    location.href = '@Url.Content("~/Entry/Index")';
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    $("#btnOkAndContinuos").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            categoryId: $('#categoryName').val(),
            avatarLink: $("#avatarLink").val(),
            actived: $('#actived').prop('checked'),
            orderNumber: $('#orderNumber').val(),
            entrySubject: $('#entrySubject').val(),
            entryContent: CKEDITOR.instances['entryContent'].getData(),
            summarize: $('#summarize').val(),
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("AddEntry", "Entry")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                    $("#message_confirm").text('Có lỗi trong quá trình lưu bài!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                }
                else {
                    $("#message_confirm").text('Lưu bài thành công!');
                    $("#message_form").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        height: 'auto',
                        width: '250px',
                        modal: true,
                        resizable: false,
                    });
                    $('#categoryName').val('');
                    $("#avatarLink").val('');
                    $('#actived').prop('checked');
                    $('#orderNumber').val('');
                    $('#entrySubject').val('');
                    CKEDITOR.instances['entryContent'].setData('');
                    $('#summarize').val('');
                }
            },
        });
    });
</script>
