<br /><br /><br />

<input type="button" id="btnAdd" title="Thêm bài viết" value="Thêm bài viết" class="button" />

<br /><br />

@Html.AntiForgeryToken()
<div id="view_dialog" title="Xem bài viết" style="display: none; font-size: 12px; width: 500px; height: 600px !important; overflow-wrap: break-word !important; overflow-y: scroll !important; ">
    <table style="width: 100%;">
        <tr>
            <td style="border-bottom: 1px solid #efefef">
                @Html.Hidden("entryIdEdit")
                <table>
                    <tr>
                        <td>
                            <img id="avatarView" height="100" width="auto" />
                        </td>
                        <td>
                            <div id="entrySubjectView" style="padding-top: 5px; width: 97%; padding-left: 10px; color: #2b579a; font-size: 15px; font-weight: bold; text-align: left"></div>
                            <label id="insAtView" style="padding-top: 5px; padding-left: 10px; color: #808080; font-size: 10px; font-weight: bold; text-align: left"></label>
                            <div id="entrySumarrizeView" style="padding-top: 5px; font-size: 13px; font-weight: bold; text-align: left"></div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <div id="entryContentView" style="padding-top: 5px; font-size: 12px; text-align: left"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnCloseView" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnApproveView" type="button" value="Đăng" class="button" style="float: right; margin-right: 10px; width: 70px; display: none" />
            </td>
        </tr>
    </table>
    <br />
</div>
<div id="dialog_confirm_delete" title="Xóa bài viết" style="display: none; font-size: 12px; min-height: 40px !important;">
    <table>
        <tr>
            <td>
                @Html.Hidden("entryIdEdit")
                <div id="message_confirm" style="padding-top: 5px;">Bạn có chắc chắn muốn xóa bài viết này không?</div>
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnCloseDel" type="button" value="Đóng" class="button" style="float: right; margin-right: 10px; width: 70px;" />
                <input id="btnOkDel" type="button" value="Xóa" class="button" style="float: right; margin-right: 10px; width: 70px;" />
            </td>
        </tr>
    </table>
    <br />
</div>

<table id="grid"></table>
<div id="pager" class="div_pager"></div>

<br />

<table>
    <tr>
        <td>
            <img src="~/Images/icon/green.png" style="height: 16px; width: 16px;" />
        </td>
        <td>
            Bài viết đang đăng trên trang chủ
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
            <img src="~/Images/icon/blue.png" style="height: 16px; width: 16px;" />
        </td>
        <td>
            Bài viết chưa được đăng
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
            <img src="~/Images/icon/orange.png" style="height: 16px; width: 16px;" />
        </td>
        <td>
            Bài viết đã được đăng
        </td>
    </tr>
</table>

<script>

    $("#btnAdd").click(function () {
        location.href = '@Url.Content("~/Entry/AddEntryPage")';
    });

    $("#btnCloseView").click(function () {
        $("#view_dialog").dialog("close");
        $("#entrySubjectView").text('');
        $("#entrySumarrizeView").text('');
        $("#insAtView").text('');
        $("img#avatarView").attr("src", "");
        $("#entryContentView").empty();
        $("#entryIdEdit").val('');
    });

    $("#btnApproveView").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            entryId: $("#entryIdEdit").val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("ApproveEntry", "Entry")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                }
                else {
                    $("#btnApproveView").hide();
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    $("#btnOkDel").click(function () {
        var requestData = {
            __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
            entryId: $("#entryIdEdit").val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("DeleteEntry", "Entry")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                }
                else {
                    $("#dialog_confirm_delete").dialog("close");
                    $("#grid").trigger("reloadGrid");
                }
            },
        });
    });

    jQuery("#grid").jqGrid({
        url: '/Entry/GetAll',
        datatype: "json",
        colNames: ['Id', 'Tên Danh Mục', 'Tiêu đề', 'Tình trạng đăng', 'Thời gian thêm', 'Thêm bởi', ''],
        colModel: [
            { name: 'Id', align: "center", key: true, hidden: true, sortable: true },
            { name: 'CategoryId', width: 20, editable: true, align: "center" },
            { name: 'EntrySubject', width: 70, editable: true, align: "center" },
            { name: 'Actived', width: 20, editable: true, align: "center" },
            { name: 'InsAt', width: 20, align: "center", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y h:i A" }, formatter: "date" },
            { name: 'InsBy', width: 20, align: "center" },
            { name: 'Action', width: 20, align: "center", sortable: false },
        ],
        rowNum: 20,
        rowList: false,
        pager: '#pager',
        viewrecords: true,
        ShinkToFit: false,
        multiSort: true,
        hidegrid: false,
        gridview: true,
        myType: 'GET',
        height: 200,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            userdata: "userdata"
        },
        autowidth: true,
        autoheight: true,
        mutiselect: false,
        editable: true
    });

    $("#grid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false, refresh: false });

    function View(id) {
        var requestData = {
            entryId: id,
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("ViewEntry", "Entry")',
            async: false,
            data: requestData,
            dataType: "json",
            timeout: 5000,
            success: function (response) {
                if (response.success == false) {
                }
                else {
                    $("#entrySubjectView").text(response.EntrySubject);
                    $("#entrySumarrizeView").text(response.Summarize);
                    $("#entryContentView").append(response.Content);
                    $("#insAtView").text(Date(response.InsAt));
                    $("img#avatarView").attr("src", response.AvatarLink);
                    if (response.Actived == "In Progress") { $("#btnApproveView").css("display", "block"); }
                    else { $("#btnApproveView").css("display", "none"); }
                    $("#view_dialog").dialog({
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                            $("#view_dialog").scrollTop(0);
                        },
                        height: 'auto',
                        width: '1050px',
                        modal: true,
                        resizable: false,
                    });
                    $("#entryIdEdit").val(id);
                }
            },
        });
    }

    function Edit(id, cateName) {
        $("#categoryIdEdit").val(id);
        $('#categoryName').val(cateName);
        $("#create_form").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            encode: false,
            title: 'Sửa Danh mục',
        });
    };

    function Delete(id) {
        $("#entryIdEdit").val(id);
        $("#dialog_confirm_delete").dialog({
            closeOnEscape: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide() },
            height: 'auto',
            width: '300px',
            modal: true,
            resizable: false,
        });
    }

    $("#btnClose").click(function () {
        $("#create_form").dialog("close");
    });

    $("#btnCloseDel").click(function () {
        $("#entryIdEdit").val('');
        $("#dialog_confirm_delete").dialog("close");
    });
</script>

